body {
  background-color: #1677BD;
  font-family: Helvetica;
}
#button {
  background-color: RoyalBlue;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 37px;
  padding-bottom: 2px;
  border:none;
  outline:none;
}
#button:hover {opacity: 0.6}
input[type = submit] {
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  flex-grow: 1;
  margin: auto;
  margin-top: 120px;
  width: 400px;
  height: 550px;
  padding: 15px;
  background-color: white;
}

/*@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}*/
.centered-text > img {
  height: 100px;
  width: auto;
}
.content {
  margin: auto;
  text-align: center;
  font-weight: bold;
  overflow: auto;
}
.login .field {
  width: 75%;
  padding: 15px;
  margin: 5px;
}
.link {
  text-align: center;
}

form ~ a:visited {
  color: blue;
}
