body {
  background-color: #1677BD;
  font-family: Helvetica;
}
#button {
  background-color: RoyalBlue;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 37px;
  padding-bottom: 2px;
  border:none;
  outline:none;
}
.field {
  width: 75%;
  padding: 15px;
  margin: 5px;
}
input[type = submit] {
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  margin: auto;
  margin-top: 120px;
  width: 24%;
  height: 550px;
  padding: 15px;
  background-color: white;
}
img {
  height: 100px;
  width: auto;
}
.content {
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.login {
  text-align: center;
}
.link {
  text-align: center;
}
